.btn {
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #fff;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .2s;

    & >span {
        position: relative;
	    z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	    color:#fff;
    }
}

.bgleft {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background:#333;/*背景色*/
        width: 100%;
        height: 100%;
        transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
        transform: scale(0, 1);
        transform-origin: right top;
   }
   &:hover::before {
        transform-origin:left top;
	    transform:scale(1, 1);
   }
}




.btnlinestretches3{
    /*線の基点とするためrelativeを指定*/
	position:relative;
    /*ボタンの形状*/  
	color:#333;
    padding: 5px 30px;
	display:inline-block;
    text-decoration: none;
    outline: none;
}

/*テキストの設定*/
.btnlinestretches3 span{
    /*テキストを前面に出すためz-indexの値を高く設定*/
	position:relative;
	z-index: 2;
}

.btnlinestretches3:hover span{
	color: #fff;
}

/*線の設定*/
.btnlinestretches3::after {
	content:'';
    /*絶対配置で線の位置を決める*/
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
    /*線の形状*/
	background:#333;
	width:100%;
	height:3px;
    /*アニメーションの指定*/
	transition:all 0.3s ease-in-out;
}

/*線が伸びて背景に*/
.btnlinestretches3:hover::after {
	height:100%;
}