@charset "UTF-8";
.btn {
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #fff;
  /* ボーダーの色と太さ */
  padding: 10px 30px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn > span {
  position: relative;
  z-index: 3;
  /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}

.bgleft::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #333;
  /*背景色*/
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.bgleft:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btnlinestretches3 {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  color: #333;
  padding: 5px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/*テキストの設定*/
.btnlinestretches3 span {
  /*テキストを前面に出すためz-indexの値を高く設定*/
  position: relative;
  z-index: 2;
}

.btnlinestretches3:hover span {
  color: #fff;
}

/*線の設定*/
.btnlinestretches3::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  /*線の形状*/
  background: #333;
  width: 100%;
  height: 3px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*線が伸びて背景に*/
.btnlinestretches3:hover::after {
  height: 100%;
}

.openbtn {
  position: fixed;
  cursor: pointer;
  top: 10px;
  right: -20px;
  width: 100px;
  height: 50px;
  padding: 2px;
  border-radius: 5px;
  z-index: 1000;
}

.openbtn > span {
  position: absolute;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #141465;
}

.openbtn > span:nth-of-type(1) {
  top: 15px;
  width: 40%;
}

.openbtn > span:nth-of-type(2) {
  top: 23px;
  width: 30%;
}

.openbtn > span:nth-of-type(3) {
  top: 31px;
  width: 20%;
}

.openbtn.active > span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-135deg);
          transform: translateY(6px) rotate(-135deg);
  width: 30%;
}

.openbtn.active > span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active > span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(135deg);
          transform: translateY(-6px) rotate(135deg);
  width: 30%;
}

/* ナビゲーションの表示 */
.bgextend {
  -webkit-animation-name: bgextendAnimeBase;
          animation-name: bgextendAnimeBase;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  -webkit-animation-name: bgextendAnimeSecond;
          animation-name: bgextendAnimeSecond;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgLRextend::before {
  -webkit-animation-name: bgLRextendAnime;
          animation-name: bgLRextendAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #504237;
  /*伸びる背景色の設定*/
}

@-webkit-keyframes bgLRextendAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes bgLRextendAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*-----------------------------*/
/*---------パンくずリスト---------*/
/*-----------------------------*/
.breadcrumb {
  padding: 8px 30px;
  list-style: none;
  background-color: #ffa0b4;
}

.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-size: 0.75rem;
  font-weight: 400;
}

.breadcrumb li::after {
  content: '>';
  padding: 0 0.2em;
  color: #fff;
}

.breadcrumb li:last-child::after {
  content: "";
}

.breadcrumb li a {
  text-decoration: none;
  color: #fff;
  /*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#splash-logo img {
  width: 50px;
}

/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

body.appear .splashbg {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #504237;
  /*伸びる背景色の設定*/
  -webkit-animation-name: PageAnime;
          animation-name: PageAnime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50.001% {
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes PageAnime {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50.001% {
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
.container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear .container {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  bottom: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #eb6100;
  /*動き*/
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  bottom: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.particle {
  position: absolute;
  /*描画固定*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0  Reset
2.0  Document
3.0  Layout
4.0  Structure
5.0  Contents
6.0  Elements
7.0  Widgets
8.0  Sections
9.0  External Plugins

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 Document Setup
--------------------------------------------------------------*/
/*------------------------------
	2.1 Typography
------------------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-family: "Font Awesome 5 Free","Font Awesome 5 Brands",'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #323232;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 2px;
  -webkit-text-size-adjust: none;
}

h1 {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  letter-spacing: 0.1em;
  width: 10em;
  opacity: 0;
  /*ローディング画面では透過*/
}

h2 {
  font-family: 'Roboto', sans-serif;
}

ul, ol, li {
  padding-left: 0;
  list-style: none;
}

ul {
  margin-bottom: 0;
}

a {
  color: #333;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

/*------------------------------
	8.0 共通設定
------------------------------*/
/*------------------------------
	8.X splash_logo
------------------------------*/
/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #504237;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
  width: 250px;
}

/*------------------------------
	8.X Typing
------------------------------*/
.TextTyping > span {
  display: none;
}

.TextTyping::after {
  content: "|";
  -webkit-animation: typinganime .8s ease infinite;
          animation: typinganime .8s ease infinite;
  font-weight: normal;
  padding: 0 0 0 10px;
}

@-webkit-keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------
	8.1 header
------------------------------*/
.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*------------------------------
	8.X move__section分割エリア
------------------------------*/
.ms-section {
  color: #fff;
  padding: 0;
}

.ms-section > a {
  color: #fff;
}

/*------------------------------
	8.X scroll_nav
------------------------------*/
#multiscroll-nav > span {
  background: transparent !important;
  border-color: #fff !important;
}

#multiscroll-nav > li .active span {
  background: #fff !important;
}

/*左上のナビゲーション*/
/*------------------------------
	8.X menu
------------------------------*/
.menu {
  display: none;
}

/*天地中央になっている見せ方を上ぞろえに上書き*/
.ms-tableCell {
  vertical-align: top !important;
}

/*左上ナビゲーションと左エリア非表示*/
/*------------------------------
	8.X ms-right
------------------------------*/
.ms-right {
  display: none;
}

/*------------------------------
	8.X ms-left
------------------------------*/
/*右エリアを横幅100%にして画像＋テキストを出す設定*/
.ms-left {
  width: 100% !important;
}

/*右エリア上部画像設定*/
#left1 {
  background: url("/assets/images/main-right.jpg") center;
  background-size: cover;
}

#left2 .sp__top {
  background: url("/assets/images/fashion-004.jpg") no-repeat center top;
  background-size: cover;
  height: 50vh;
}

#left3 .sp__top {
  background: url("/assets/images/fashion-002.jpg") no-repeat top center;
  background-size: cover;
  height: 50vh;
}

#left4 .sp__top {
  background: url("/assets/images/fashion-003.jpg") no-repeat top center;
  background-size: cover;
  height: 50vh;
}

#left4 .sp__bottom {
  background: url("/assets/images/fashion-001.jpg") no-repeat top center;
  background-size: cover;
  height: 50vh;
}

#left5 .sp__top {
  background: url("/assets/images/fashion-006.jpg") no-repeat top center;
  background-size: cover;
  height: 50vh;
}

#left5 .sp__bottom {
  background: url("/assets/images/fashion-005.jpg") no-repeat top center;
  background-size: cover;
  height: 50vh;
}

#left6 {
  background: url("/assets/images/fashion-003.jpg") no-repeat center;
  background-size: cover;
  opacity: 0.85;
}

#right5 .sp__top {
  background: url("/assets/images/fashion-005.jpg") no-repeat center;
  background-size: cover;
  height: 50vh;
}

/*------------------------------
	8.X .sp-bottom
------------------------------*/
/*右エリア下部テキスト余白設定*/
.sp__bottom {
  padding: 20px;
  text-align: center;
}

#left6 .sp__bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*------------------------------
	8.X .sp-bottom
------------------------------*/
.footer {
  position: fixed;
  top: 20px;
  left: 20px;
}

.footer > small {
  color: #fff;
}

.footer__sns-list {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer__sns-item:not(:last-child) {
  margin: 0 15px 0 0;
}

.footer__sns-link {
  position: relative;
  font-size: 2rem;
  color: #fff;
}

.footer__sns-link i.fa-twitter:hover {
  color: #55acee;
}

.footer__sns-link i.fa-line:hover {
  color: #00b900;
}

.footer__sns-link i.fa-youtube:hover {
  color: red;
}

.footer__sns-link i.fa-facebook-f:hover {
  color: #3b5a9a;
}

.footer__sns-link i.fa-instagram:hover {
  color: #000;
}

@media (min-width: 600px) {
  /*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0  Reset
2.0  Document
3.0  Layout
4.0  Structure
5.0  Contents
6.0  Elements
7.0  Widgets
8.0  Sections
9.0  External Plugins

--------------------------------------------------------------*/
  /*--------------------------------------------------------------
8.0 Sections
--------------------------------------------------------------*/
  h1 {
    font-size: 2rem;
  }
  /* 画像の設定 */
  .ms-right {
    display: block;
    width: 50% !important;
  }
  .ms-left {
    width: 50% !important;
  }
  /* left */
  #left1 {
    background: url("/assets/images/main-left.jpg") no-repeat center right;
    background-size: cover;
  }
  #left2 .sp__top {
    display: none;
  }
  #left2 .sp__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #left3 .sp__top {
    display: none;
  }
  #left3 .sp__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #left4 {
    background: url("/assets/images/fashion-004.jpg") no-repeat center;
    background-size: cover;
  }
  #left4 .sp__top {
    display: none;
  }
  #left4 .sp__bottom {
    display: none;
  }
  #left5 {
    background: url("/assets/images/fashion-006.jpg") no-repeat center;
    background-size: cover;
  }
  #left5 .sp__top {
    display: none;
  }
  #left5 .sp__bottom {
    display: none;
  }
  #left6 {
    background: #504237;
  }
  #left6 .sp__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  /*  right */
  #right1 {
    background: url("/assets/images/main-right.jpg") no-repeat center left;
    background-size: cover;
  }
  #right2 {
    background: url("/assets/images/fashion-004.jpg") no-repeat center;
    background-size: cover;
  }
  #right3 {
    background: url("/assets/images/fashion-002.jpg") no-repeat center;
    background-size: cover;
  }
  #right4 {
    background: url("/assets/images/fashion-003.jpg") no-repeat center;
    background-size: cover;
  }
  #right5 {
    background: url("/assets/images/fashion-005.jpg") no-repeat center;
    background-size: cover;
  }
  #right6 {
    background: url("/assets/images/07.jpg") no-repeat center;
    background-size: cover;
  }
  /*------------------------------
	8.X move__section分割エリア
------------------------------*/
  /*全体のエリア設定*/
  /*各sectionの詳細*/
  .ms-section {
    padding: 20px;
  }
  /*------------------------------
	8.X menu
------------------------------*/
  #menu {
    display: block;
  }
  #menu > li {
    display: inline-block;
  }
  #menu > li > a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 100;
  }
  /*------------------------------
	8.X scrollDown
------------------------------*/
  .scrolldown {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 50px;
  }
  .scrolldown > span {
    position: absolute;
    left: -15px;
    top: -15px;
    color: #eee;
    font-size: .8rem;
    letter-spacing: .05em;
  }
  .scrolldown::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 30px;
    background: #eee;
    -webkit-animation: pathmove 1.4s ease-in-out infinite;
            animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
  }
  @-webkit-keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    30% {
      height: 30px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 50px;
      opacity: 0;
    }
  }
  @keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    30% {
      height: 30px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 50px;
      opacity: 0;
    }
  }
  .footer {
    bottom: 20px;
    left: 20px;
    top: inherit;
  }
}
/*# sourceMappingURL=style.css.map */